{% extends "layout.html" %}

{% block title %}
    Weight
{% endblock %}

{% block main %}
<h2 class="text-center">Your weight is a tool!</h2>
<hr>
<div class="d-flex flex-wrap row">
    <div class="col-sm p-2 text-center">
        <p><b>Don't worry about your weight!</b></p>
        <p>It is not representative of who you are and not even that important to your fitness goals.</p>
        <p>Our weight is an easy to measure and valuable parameter to calculate some features, though. It is part of our calculation of caloric expense and macro goals.</p>
        <p>Therefore, <b>please set your weight daily</b> (even if you didn't measure it, use yesterday's).</p>
        <p>But, again, do not worry about it!</p>
    </div>
    <div class="col-sm m-2 text-center">
        <div class="card">
            <div class="card-body shadow rounded">
                <form action="/weight" method="post">
                    <h6>Today's weight (kg):</h6> <br>
                    <input class="form-control" autocomplete="off" autofocus min="1" name="weight" placeholder="Weight (format: xx.x)" step="0.1" type="number">
                    <button class="btn btn-success mt-4" type="submit">Submit!</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}